.cadastro-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url("/bg-metro.jpg") no-repeat center;
  background-size: cover;
}

.cadastro-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cadastro-card {
  position: relative;
  z-index: 2;

  width: 500px;
  padding: 30px;

  border-radius: 16px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.08);

  color: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.full {
  grid-column: span 2;
}

/* inputs */
input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;

  border-radius: 6px;
  border: 1px solid #444;

  background: transparent;
  color: white;
}

/* botões */
.btn-primary {
  margin-top: 20px;
  padding: 12px;
  width: 100%;

  background: #009cde;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.btn-secondary {
  margin-top: 10px;
  padding: 12px;
  width: 100%;

  background: #1c2b3a;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

/* mensagens */
.erro {
  color: #ff4d4d;
  margin-top: 10px;
}

.sucesso {
  color: lightgreen;
  margin-top: 10px;
}