:root {
  /* Cores da sua paleta - Ajuste os Hexadecimais conforme o Style Guide */
  --cor-fundo-1: #121212;     /* Fundo principal do site */
  --cor-fundo-2: #181818;     /* Fundo das sidebars */
  --cor-fundo-3: #242424;     /* Fundo de cards/tabelas */
  
  --cor-destaque: #007BFF;    /* Sua cor principal de ação */
  --cor-borda: #333333;       /* Cor de linhas e divisórias */
  
  --cor-texto-forte: #FFFFFF; /* Texto principal */
  --cor-texto-suave: #A0A0A0; /* Texto secundário */
  
  --cor-sucesso: #28A745;     /* Status positivo */
  --cor-erro: #DC3545;        /* Status negativo */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background-color: var(--cor-fundo-1);
  color: var(--cor-texto-forte);
  font-family: 'Inter', sans-serif;
  overflow: hidden; /* Importante para o layout não quebrar */
}

#root {
  height: 100%;
}