/* Reset básico para garantir que nada quebre */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Aplicando a fonte e as cores base no corpo inteiro do sistema */
body {
  font-family: var(--fonte-principal);
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--cor-fundo-geral);
  color: var(--cor-texto-medio);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}

/* Scrollbar personalizada para combinar com a identidade */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--cor-fundo-geral);
}
::-webkit-scrollbar-thumb {
  background: var(--cor-borda);
  border-radius: var(--raio-borda);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--cor-texto-suave);
}